* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    width: 750px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#info-enzo {
    margin: 10px 0 10px 0;
}

#info-enzo h2 {
    margin-top: 20px;
}

.content {
    margin: 30px 0 0 0;
    text-align: left;
}

.content h2 {
    margin: 0 0 15px 0;
    text-align: center;
}

.content p:not(:last-child) {
    margin: 0 0 10px 0;
}

#last {
    margin: 30px 0;
}